.file-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  cursor: pointer;
  text-decoration: none;
  text-align: start;
  opacity: 1;
  transition: 0.2s;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px #7f7f7f solid;
  font-size: 14px;
  padding: 15px 20px;
  color: #7f7f7f;
  background-color: #ffffff;
}

.file-input input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.file-input:hover {
  opacity: 0.8;
}
.file-input:active {
  background-color: #84d0f0;
}